<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>
<body>

<div th:text="${'Hallo ' + user.name}"></div>
<div th:text="${sch_session.uuid}"></div>
<div th:text="${'Schätzung für <' + sch_session.storyForEstimation().title + '> abgeben'} "></div>
<form th:action="@{'/vote'}" method="post" >
    <input type="hidden" th:field="${story.uuid}">
    <input type="hidden" th:field="${story.externalId}">
    <input type="hidden" th:field="${story.title}">

    <select name="estimation">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
        <option value="21">21</option>
    </select>
    <input type="submit" id="session" />
</form>
</body>
</html>